a {
  color: inherit;
  text-decoration: none;
}
@tailwind base;
@tailwind components;

* {
  padding: 0;
  margin: 0;
  font-family: "Circular Std", sans-serif;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
}

.button {
  @apply bg-black text-white;
  @apply px-20 py-10;
  @apply flex justify-center items-center;
  @apply rounded-4;
}

@tailwind utilities;
